* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;

}

header{
    text-align: center;
}

.container {
    
    max-width: 670px;
    width: 100%;
    margin: 20% auto;
}

.aprovado{
    text-decoration: line-through;
}

form, .div{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

ul {
    display: block;
    
}

ul li {
    margin-top: 5px;
    cursor: pointer;
}

form button {
    margin-left: 2px;
}




input,
button {

    padding: 8px;

}

button {

    background-color: #009432;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border-radius: 3px;

}



